{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Dodaj książkę</h1>

<div class="container">
    <div class="row">
        <div class="col-sm">
            {{ form_start(bookForm) }}

            {{ form_row(bookForm.title, {
                label: 'Tytuł'
            }) }}

            {{ form_row(bookForm.author, {
                label: 'Autor'
            }) }}

            <button type="submit" class="btn btn-primary" formnovalidate> Dodaj</button>
            {{ form_end(bookForm) }}
        </div>
        </div>
</div>
{% endblock %}

