{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="text-center">Nie ma książki którą chciałbyś wypożyczyć w twojej bibliotece?</h1>

    <div class="container">
        <div class="row">
            <div class="col-xs"></div>
            <ul>
                <li>zgłoś ją tutaj jako propozycję do zakupu - do publicznej i widocznej dla każdego listy</li>
                <li>
                    na bieżąco widać która w kolejce jest dana książka
                </li>
                <li>
                    publicznie dostępna lista pozwoli na uwzględnienie wspólnych potrzeb czytelników dla danych dzielnic, miast, obszarów
                </li>

                <li>
                    kod źródłowy tej strony jest publicznie dostępny, możesz go skopiować, modyfikować i ulepszać
                </li>
            </ul>
           <br> Przed zgłoszeniem swojej propozycji sprawdzić, czy książki rzeczywiście nie ma w konkretnej bibliotece.



        </div>
    </div>

{% endblock %}
