{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="text-center">Nie ma książki którą chciałbyś wypożyczyć w twojej bibliotece?</h1>

    <div class="container">
        <div class="row">
            <div class="col-xs"></div>
            <ul>
                <li>zgłoś ją tutaj jako propozycję do zakupu - do publicznej i widocznej dla każdego listy</li>
                <li>pozwoli to na uwzględnienie wspólnych potrzeb czytelników dla danych dzielnic, miast, obszarów</li>
                <li>na biężąco sledź kolejkę zamawianych tytułów </li>
            </ul>
	    
           <br> Przed wysłaniem swojej propozycji sprawdź czy danej książki rzeczywiście nie ma w konkretnej bibliotece
        </div>
    </div>

{% endblock %}
